<header>
  <nav style="width: 100%; display: flex; justify-content: center">
    <ul style="width: 50%; display: flex; justify-content: space-between">
      <li style="list-style: none;">
        <a
          style="text-decoration: none;"
          routerLink="/home"
          routerLinkActive="active"
          >acceuil</a
        >
      </li>
      <li style="list-style: none;"><a style="text-decoration: none;" routerLink="/cocktail" routerLinkActive="active">cocktail</a></li>
      <li style="list-style: none;"><a style="text-decoration: none;" routerLink="/contact" routerLinkActive="active">contact</a></li>
    </ul>
  </nav>
  <li style="list-style: none;"><a style="text-decoration: none;" routerLink="/admin" routerLinkActive="active">admin</a></li>
</header>
